<!DOCTYPE html>
<html>
<head>
  <title>Sancho</title>
  <%= stylesheet_link_tag    "sancho/application", media: "all" %>
  <%= javascript_include_tag "sancho/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
